@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<StudentPortal.Models.Entities.Student>

<h1> Students </h1>

<table class=" table ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model) //Model is the list of student enitities line 7
        {
            <tr>
                <th>@student.Id</th>
                <th>@student.Name</th>
                <th>@student.Email</th>
                <td>
                    <a class = "btn btn-outline-success " asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                </td>
            </tr>
            
        }
    </tbody>
</table>